body {
  font-family: 'Roboto', sans-serif;
}

#objets {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

#map {
  height: 50em;
  width: 50em;
  border-radius: 8px;
}


thead th {
  position: sticky;
  top: 0; 
  background: #f1f1f1;
  z-index: 2;
}

img {
  width: 80px;
  height: auto;
  display: block;
}

#mapContainer{
  padding: 1em;
}

thead th {
  position: sticky;
  top: 0;
  background: #f1f1f1;
  z-index: 2;
}

tbody td:first-child, thead th:first-child {
  position: sticky;
  left: 0;
  background: #f1f1f1;
  z-index: 1;
}