body {
  font-family: 'Roboto', sans-serif;
}

#objets {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

#map {
  height: 50em;
  width: 50em;
  border-radius: 8px;
}


thead th {
  position: sticky;
  top: 0; 
  background: #f1f1f1;
  z-index: 2;
}

img {
  height: 10em;
  display: block;
}

#mapContainer{
  padding: 1em;
}

#meteoHeader{
  padding: 2em;
}

#controls{
  padding: 2em;
}

#controls select{
  font-size: 2em;
  margin-right: 1em;
}

#meteo{
  font-size: 1.1em;
}